
<app-navbar></app-navbar>

<div class="canvas-wrapper">

    <div class="canvas-drawer">
      <div class="row m-2">
        <!-- 1st Column -->
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 text-center">
          <div class="row" *ngFor="let image of images;let i=index;" (click)="onAttributeChange(image , 'imageChange')">
            <div class="col">
              <img class="img-fluid" [src]="image"/>
              <img #img [src]="selectedImage" style="display: none;"/>
            </div>
          </div>
        </div>
        <!-- /. 1st Column -->
    
        <!-- 2nd Column -->
        <div #canvasArea id="canvas_area" class="col-sm-12 col-md-9 col-lg-9 col-xl-9 border border-dark" >
          <canvas id="canvas"></canvas>       
        </div>
        <!-- /. 2nd Column -->
      </div>
    </div>

    <div class="canvas-controls">
      <div class="canvas-actions">
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-block btn-share btn-action">Share</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-block btn-done btn-action">Done</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-block btn-save btn-action" (click)="saveCanvasAsImage()">Save</button>
                </div>
            </div>
        </div>
        <div class="canvas-shapes">
            <div class="accordion" id="accordionExample">
              <div class="card c-shapes">
                <div class="card-header p-0" id="headingOne">
                    <!-- <a href="#" class="btn btn-link coll-exp" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Shape
                    </a> -->
                    <button class="btn collapsed float-left" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Shape
                    </button>
                    <button type="button" class="btn btn-default btn-sm float-right" (click)="showShapeArea = !showShapeArea">
                      <i *ngIf="showShapeArea" class="fas fa-chevron-up"></i>
                      <i *ngIf="!showShapeArea" class="fas fa-chevron-down"></i>
                    </button>
                  </div>
                <div id="collapseOne" [hidden]="!showShapeArea" class="collapse show" aria-labelledby="headingOne">
                  <div class="card-body">
                    <div class="row">

                      <div class="col-md-3" *ngFor="let canvasSize of data?.canvasSizes; let i=index;" (click)="onAttributeChange(  canvasSize.title.toLowerCase() , 'canvasSize')">
                        <div class="shape-section tall-view canvas-screen">
                          <div class="shape-img" [ngClass]="{'section-active': selectedOptions?.canvasSize == (canvasSize.title | lowercase) }">
                              <img [src]="canvasSize.src" alt="{{ canvasSize.title }}">
                          </div>
                          <span>{{ canvasSize.title }}</span>
                        </div>
                      </div>

                    </div>
                </div>
              </div>             
              

              <div class="card c-effects">
                  <div class="card-header p-0" id="headingTwo">
                    <!-- <a href="#" class="btn btn-link collapsed coll-exp" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Filters
                    </a> -->
                    <button class="btn collapsed float-left" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Filters
                    </button>
                    <button type="button" class="btn btn-default btn-sm float-right" (click)="showFilterArea = !showFilterArea">
                      <i *ngIf="showFilterArea" class="fas fa-chevron-up"></i>
                      <i *ngIf="!showFilterArea" class="fas fa-chevron-down"></i>
                    </button>
                  </div>
                  <div id="collapseTwo" [hidden]="!showFilterArea" class="collapse show" aria-labelledby="headingTwo">
                    <div class="card-body">
                      <div class="row no-gutters">

                        <div class="col" #filters *ngFor="let filter of data?.filters;let i=index;" (click)="applyFilter( filter.toLowerCase() )">
                            <div class="shape-section filter">
                                <div class="shape-img" [ngClass]="{'section-active': selectedOptions?.filter == filter.toLowerCase() }">
                                    <figure class="{{ filter.toLowerCase() }}">
                                        <img [src]="selectedImage" id="filter_{{i}}">
                                    </figure>
                                </div>
                                <span>{{ filter }}</span>
                            </div>
                        </div>

                      </div>
                    </div>
                  </div>
              </div>
              
              
              <div class="card c-options">
                  <div class="card-header p-0" id="headingThree">
                    <div class="form-check float-left">
                      <input type="checkbox" class="form-check-input" id="addText" (change)="onCanvasTextChange($event)" [checked]="showCanvasText">
                      <label class="form-check-label" for="addText">{{ showCanvasText ? 'Remove Text' : 'Add Text' }}</label>
                    </div>
                    <button type="button" class="btn btn-default btn-sm float-right" (click)="showTextArea = !showTextArea">
                      <i *ngIf="showTextArea" class="fas fa-chevron-up"></i>
                      <i *ngIf="!showTextArea" class="fas fa-chevron-down"></i>
                    </button>
                  </div>
                  <div id="collapseThree" [hidden]="!showTextArea" class="" aria-labelledby="headingThree">
                    <div class="card-body">
                      <!-- Color Picker-->
                      <div class="row no-gutters mb-1" [hidden]="!showColorPicker$">
                        <div class="col" #colorPickerCol>
                          <app-color-slider *ngIf="colorPickerWidth" [canvasWidth]="colorPickerWidth" (color)="handlePropertyChange($event)"></app-color-slider>
                        </div>
                      </div>

                      <div class="row no-gutters">
                          <div class="col">
                              <div class="shape-section typo">
                                  <div class="shape-img" [ngClass]="{'section-active': modalOpenedFor == 'fontFamily' }" (click)="open(content, 'fontFamily')">
                                      <img src="assets/_images/font.svg" alt="">
                                  </div>
                                  <span>Font</span>
                              </div>
                          </div>
                          <div class="col">
                              <div class="shape-section typo">
                                  <div class="shape-img" [ngClass]="{'section-active': modalOpenedFor == 'color' }" (click)="showColorPicker('color')">
                                      <img src="assets/_images/color.svg" alt="">
                                  </div>                                  
                                  <span>Color</span>
                              </div>
                          </div>
                          <div class="col">
                              <div class="shape-section typo">
                                  <div class="shape-img" [ngClass]="{'section-active': selectedOptions?.stroke != '' }" (click)="showColorPicker('stroke')">
                                      <img src="assets/_images/stroke.svg" alt="">
                                  </div>
                                  <span>Stroke</span>
                              </div>
                          </div>

                          <div class="col">
                              <div class="shape-section typo">
                                  <div class="shape-img" [ngClass]="{'section-active': selectedOptions?.shadow != '' }"  (click)="showColorPicker('shadow')">
                                      <img src="assets/_images/shadow.svg" alt="">
                                  </div>
                                  <span>Shadow</span>
                              </div>
                          </div>
                          <!-- <div class="col-md-2">
                              <div class="shape-section typo">
                                  <div class="shape-img">
                                      <img src="assets/_images/opacity.svg" alt="">
                                  </div>
                                  <span>Opacity</span>
                              </div>
                          </div> -->

                          <div class="col">
                              <div class="shape-section typo">
                                  <div class="shape-img" [ngClass]="{'section-active': modalOpenedFor == 'textAlign' }" (click)="open(content, 'textAlign')">
                                      <img src="assets/_images/left-alignment.svg" alt="">
                                  </div>
                                  <span>Align</span>
                              </div>
                          </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
          </div>
      </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalOpenedFor }}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="['textAlign', 'fontFamily'].indexOf(modalOpenedFor) > -1">   
    <div class="custom-control custom-radio" *ngFor="let option of options; let i=index;">
      <input type="radio" class="custom-control-input" id="selectedOption_{{ i }}" name="{{ modalOpenedFor }}" 
        [value]="(option | lowercase)" (change)="handlePropertyChange($event)">
      <label class="custom-control-label" for="selectedOption_{{ i }}">{{ option }}</label>
    </div>
  </div>

  <div *ngIf="['textAlign', 'fontFamily'].indexOf(modalOpenedFor) == -1">
    <color-sketch [color]="color" (onChangeComplete)="handlePropertyChange($event)"></color-sketch>
  </div>

  <div class="modal-footer">
  </div>
</ng-template>


