<div class="card c-options">
    <div class="card-header p-0" id="headingThree">
        <div class="form-check float-left">
            <input type="checkbox" class="form-check-input" id="addText" (change)="_onTextVisibilityChange($event)" [checked]="options.showText">
            <label class="form-check-label" for="addText">Add Text</label>
            </div>
            <button type="button" class="btn btn-default btn-sm float-right" (click)="showCanvasText = !showCanvasText">
                <i *ngIf="showTextArea" class="fas fa-chevron-up"></i>
                <i *ngIf="!showTextArea" class="fas fa-chevron-down"></i>
            </button>
        </div>
        
        <div id="collapseThree" [hidden]="!showTextArea" class="" aria-labelledby="headingThree">

            <div class="card-body">

                <div class="row" *ngIf="selectedModifier == 'stroke' || selectedModifier == 'shadow' || selectedModifier == 'opacity' || selectedModifier == 'textBackgroundColor' ">
                    <div class="col">
                        <input *ngIf="selectedModifier == 'stroke' || selectedModifier == 'shadow'" class="w-100" type='range' step='.001' max='10' min='1' (input)='onChange($event.target.value, "width")' (change)='onChange($event.target.value, "width")' [value]="rangeVal">
                        <input *ngIf="selectedModifier == 'opacity' || selectedModifier == 'textBackgroundColor'" class="w-100" type='range' step='.001' max='1' min='0' (input)="onChange($event.target.value, 'opacity')" (change)="onChange($event.target.value, 'opacity')" [value]="rangeVal">
                    </div>
                </div>
                    
                <!-- Color Picker , Font Picker -->
                <div class="row no-gutters mb-1" [hidden]="!showColorPicker$ && !showFontPicker$">
                    
                    <!-- For Color -->
                    <div class="col" *ngIf="showColorPicker$">
                        <app-color-picker [canvasWidth]="rowWidth" (color)="onChange($event.color.hex , selectedModifier)"></app-color-picker>
                    </div>

                    <!-- For Font -->
                    <div class="col" *ngIf="showFontPicker$">
                        <div class="row">
                            <div class="col">
                                <div class="btn-group w-100" dropdown [dropup]="isDropup">
                                    <button id="button-dropup" dropdownToggle type="button" class="btn btn-light btn-lg btn-block text-left"
                                            aria-controls="dropdown-dropup">
                                        {{ options$?.fontFamily }} <span class="caret pull-right"></span>
                                    </button>
                                    <ul id="dropdown-dropup" *dropdownMenu class="dropdown-menu w-100"
                                        role="menu" aria-labelledby="button-dropup">
                                        <li role="menuitem" *ngFor="let font of data?.fontFamily; let i=index;" value="{{ font }}" [ngStyle]="{'font-family': font}" (mouseover)="onChange(font, 'mouseOver')" (mouseleave)="onChange(options$?.fontFamily , 'mouseLeave')" (click)="onChange(font , 'fontFamily')">
                                        <a class="dropdown-item" href="#">{{ font }}</a>
                                        </li>                                   
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <div class="row no-gutters" #optionsRow>
                    <div class="col" *ngFor="let modifier of modifiers; let i=index;" (click)="showOptions(modifier.value)">
                        <div class="shape-section typo">
                            <div class="shape-img" [ngClass]="{'section-active': getClass(modifier) }">
                                <img src="assets/_images/{{ modifier.icon }}" alt="{{ modifier.title }}">
                            </div>
                            <span>{{ modifier.title }}</span>
                        </div>
                    </div>
                </div>

        </div>       

    </div>
</div>
    