



<app-navbar></app-navbar>

<div class="canvas-wrapper">

    <div class="canvas-drawer">
      <div class="row m-2 row-height">
        <!-- 1st Column -->
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 text-center">
          <div class="row" *ngFor="let image of images;let i=index;" (click)="onAttributeChange(image , 'imageChange')">
            <div class="col left">
              <img class="img-fluid" [src]="image"/>
              <img #img [src]="selectedImage" style="display: none;"/>
            </div>
          </div>
        </div>
        <!-- /. 1st Column -->
    
        <!-- 2nd Column -->
        <div #canvasArea id="canvas_area" class="col-sm-12 col-md-9 col-lg-9 col-xl-9 border mid" >
          <canvas id="canvas" #canvas></canvas>       
        </div>
        <!-- /. 2nd Column -->
      </div>
    </div>

    <div class="canvas-controls">
      
      <!-- Button Area -->
      <app-buttons-area [canvas]="canvas$"></app-buttons-area>

      <div class="canvas-shapes">
        <div class="accordion" id="accordionExample">

          <!-- Canvas Size -->
          <app-canvas-size [selectedOptions]="selectedOptions" (onSizeChange)="onAttributeChange( $event , 'canvasSize')"></app-canvas-size>
          
          <!-- FILTERS -->
          <app-filters [canvas]="canvas$" [selectedImage]="selectedImage" [selectedOptions]="selectedOptions" [data]="data"></app-filters>

          <!-- TEXT -->
          <!-- 
            <div class="card c-options">
              <div class="card-header p-0" id="headingThree">
                <div class="form-check float-left">
                  <input type="checkbox" class="form-check-input" id="addText" (change)="onCanvasTextChange($event)" [checked]="showCanvasText">
                  <label class="form-check-label" for="addText">Add Text</label>
                </div>
                <button type="button" class="btn btn-default btn-sm float-right" (click)="showTextArea = !showTextArea">
                  <i *ngIf="showTextArea" class="fas fa-chevron-up"></i>
                  <i *ngIf="!showTextArea" class="fas fa-chevron-down"></i>
                </button>
              </div>
              <div id="collapseThree" [hidden]="!showTextArea" class="" aria-labelledby="headingThree">
                <div class="card-body">

                  <div class="row" *ngIf="modalOpenedFor == 'stroke' || modalOpenedFor == 'shadow' || modalOpenedFor == 'opacity' ">
                    <div class="col">
                      <input *ngIf="modalOpenedFor == 'stroke' || modalOpenedFor == 'shadow'" class="w-100" type='range' step='1' max='10' min='1' (input)='handlePropertyChange($event)' (change)='handlePropertyChange($event)' [value]="rangeVal">
                      <input *ngIf="modalOpenedFor == 'opacity' " class="w-100" type='range' step='.001' max='1' min='0' (input)="onAttributeChange($event.target.value, 'opacity')" (change)="onAttributeChange($event.target.value, 'opacity')" [value]="rangeVal">
                    </div>
                  </div>
                  
                  
                  <div class="row no-gutters mb-1" [hidden]="!showColorPicker$ && !showFontPicker$ && !showTextAlignPicker$">
                    
                    <div class="col" #colorPickerCol *ngIf="showColorPicker$">
                      <app-color-picker *ngIf="rowWidth" [canvasWidth]="rowWidth" (color)="handlePropertyChange($event)"></app-color-picker>
                    </div>
                    
                    <div class="col" *ngIf="showFontPicker$">
                      <div class="row">
                        <div class="col">
                          <div class="btn-group w-100" dropdown [dropup]="isDropup">
                              <button id="button-dropup" dropdownToggle type="button" class="btn btn-light btn-lg btn-block text-left"
                                      aria-controls="dropdown-dropup">
                                {{ selectedOptions?.fontFamily }} <span class="caret pull-right"></span>
                              </button>
                              <ul id="dropdown-dropup" *dropdownMenu class="dropdown-menu w-100"
                                  role="menu" aria-labelledby="button-dropup">
                                <li role="menuitem" *ngFor="let font of data?.fontFamily; let i=index;" value="{{ font }}" [ngStyle]="{'font-family': font}" (mouseover)="onAttributeChange(font, 'mouseOver')" (mouseleave)="onAttributeChange(selectedOptions?.fontFamily , 'mouseLeave')" (click)="onAttributeChange(font , 'fontFamily')">
                                  <a class="dropdown-item" href="#">{{ font }}</a>
                                </li>                                   
                              </ul>
                            </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  
                  <div class="row no-gutters" #optionsRow>
                      <div class="col">
                          <div class="shape-section typo">
                              <div class="shape-img" [ngClass]="{'section-active': modalOpenedFor == 'fontFamily' }" (click)="showOptions('fontFamily')">
                                  <img src="assets/_images/font.svg" alt="">
                              </div>
                              <span>Font</span>
                          </div>
                      </div>
                      <div class="col">
                          <div class="shape-section typo">
                              <div class="shape-img" [ngClass]="{'section-active': modalOpenedFor == 'color' }" (click)="showOptions('color')">
                                  <img src="assets/_images/color.svg" alt="">
                              </div>                                  
                              <span>Color</span>
                          </div>
                      </div>
                      <div class="col">
                          <div class="shape-section typo">
                              <div class="shape-img" [ngClass]="{'section-active': selectedOptions?.stroke != '' || modalOpenedFor == 'stroke'}" (click)="showOptions('stroke')">
                                <img src="assets/_images/stroke.svg" alt="">
                              </div>
                              <span>Stroke</span>
                          </div>
                      </div>

                      <div class="col">
                          <div class="shape-section typo">
                              <div class="shape-img" [ngClass]="{'section-active': selectedOptions?.shadow != '' || modalOpenedFor == 'shadow'}"  (click)="showOptions('shadow')">
                                <img src="assets/_images/shadow.svg" alt="">
                              </div>
                              <span>Shadow</span>
                          </div>
                      </div>
                      
                      <div class="col">
                          <div class="shape-section typo">
                              <div class="shape-img" [ngClass]="{'section-active': modalOpenedFor == 'opacity' }" (click)="showOptions('opacity')">
                                  <img src="assets/_images/opacity.svg" alt="">
                              </div>
                              <span>Opacity</span>
                          </div>
                      </div>

                      <div class="col">
                        <div class="shape-section typo">
                            <div class="shape-img" [ngClass]="{'section-active': selectedOptions?.textBackgroundColor != '' || modalOpenedFor == 'textBackgroundColor' }" (click)="showOptions('textBackgroundColor')">
                                <img src="assets/_images/color.svg" alt="">
                            </div>                                  
                            <span>Bg Tint</span>
                        </div>
                      </div>

                  </div>

                  
                  
                </div>
              </div>

          </div> -->          
          <app-text-modifiers [canvas]="canvas$" [data]="data" [options]="selectedOptions" (onTextVisibilityChange)="onTextVisibilityChange($event)"></app-text-modifiers>
        </div>
      </div>
  </div>
</div>



