<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="row">

        <div class="col-sm">
          <img width="300" height="200" src="assets/images/image-1.jpg"/>
        </div>

        <div class="w-100"></div>
        <hr>

        <div class="col-sm">
            <img width="300" height="200" src="assets/images/image-2.jpg"/>
        </div>

        <div class="w-100"></div>

        <div class="col-sm">
            <img width="300" height="200" src="assets/images/image-3.jpg"/>
        </div>

        <div class="w-100"></div>

        <div class="col-sm">
            <img width="300" height="200" src="assets/images/image-4.jpg"/>
        </div>

        <div class="w-100"></div>

        <div class="col-sm">
            <img width="300" height="200" src="assets/images/image-5.jpg"/>
        </div>

      </div>
    </div>
  </div>
  <!-- /.Main Row -->
</div>
